/* this css will include css related to the content layout on each navigation bar */

.content-container {
    display: grid;
    padding: 1em;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    grid-gap: 1em;
}

.tea-inner-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

h1 {
    font-family: 'Goudy Bookletter 1911', serif;
    color: #5b5f7a;
    text-align: center;
    font-size: 3.5em;
    font-weight: 100;
}

.intro {
    font-family: 'Goudy Bookletter 1911', serif;
    color: #5b5f7a;
    font-size: 20px;
    margin-left: 4em;
    margin-right: 4em;
}