/* this css will include the body background and the main home + index page grid + css styling*/

body {
    background-attachment: fixed;
    background-image: radial-gradient(50% 50% at 50% 50%, #F4D7E7 0%, rgba(187, 190, 224, 0.7) 100%);
    }
    
    .home-grid {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        grid-gap: .5em;
        grid-template-areas: "title title title"
                             "sidebar sidebar sidebar"
                             "star image new";
    }
    
    /*.heading {
      grid-area: title;
      font-size: 60px;
      margin-bottom: 10px;
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Goudy Bookletter 1911', serif;
    }*/

    .heading {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      width: 40%;
      margin-bottom: 3em;
      margin-top: 3em;
    }
    
    #nav-bar
    {
        display: flex;
        grid-area: sidebar;
        flex-direction: row;
        justify-content: space-evenly;
        font-family: 'Goudy Bookletter 1911', serif;
        font-size: 16px;
        width: 80%;
        margin: auto;
        padding-top: 8px;
        padding-bottom: 8px;
        border: 1px;
        border-color: #3d4051;
        border-style: solid;
    }

    #nav-bar a {
      color: #3d4051;
      text-decoration: none;
    }

    span.navbtn {
      font-size: 22px;
      position: relative;
      bottom: 1px;
      color: #3d4051;
    }
    
    #left {
      justify-self: right;
      align-self: center;
      height: auto;
      width: 90%;
      grid-area: star;
    }

    #text-left {
      grid-area: star;
      justify-self: right;
      align-self: center;
      height: auto;
      width: 90%;
      color: #5b5f7a;
      font-size: 40px;
      text-align: center;
    }
    
    #right {
      justify-self: left;
      align-self: center;
      font-family: 'Goudy Bookletter 1911', serif;
      text-align: center;
      color: #5b5f7a;
      grid-area: new;
      font-size: 90px;
    }
    
    #middle {
      width: 70%;
      margin-top: 2em;
      height: auto;
      justify-self: center;
      align-self: center;
      grid-area: image;
    }

   